.app-background {
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
}

.light-background {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.light-background .bulb-container {
  flex: 2;
  position: relative;
  z-index: 500;
}

.light-background .information-container {
  flex: 1;
  z-index: 1000;
}

.light-background .button-container {
  position: relative;
  flex: 1;
  width: 100%;
  height: 100%;
}

.button-container .zebralight-button {
  cursor: pointer;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(17, 17, 17);
  border: 1px solid rgb(24, 24, 24);
  background-image: url(../assets/power.svg);
  background-size: 75px 75px;
  background-repeat: no-repeat;
  background-position: center;
}

.button-container .zebralight-button:active {
  background-color: rgb(17, 17, 17);
  box-shadow: inset 0px 0px 20px rgb(5, 5, 5);
  border: none;
}

.light-background .bulb {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: hsl(27, 100%, 90.4%);
}

.information-container .information-box {
  color: white;
  font-family: 'Helvetica', sans-serif;
  font-size: 18pt;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 12px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 8px;
  border-radius: 4px;
}

.information-box .top-section {
  display: flex;
}

.information-box .top-section-unit {
  flex: 1;
}

.information-box .bottom-section {
  display: flex;
  font-size: 12pt;
  text-align: left;
}

.centered-in-container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button:focus {
  outline: 0;
}

@keyframes blinker {
  95% {
    opacity: 0;
    -webkit-opacity: 0;
  }
}

@keyframes blinker-fast {
  50% {
    opacity: 0;
    -webkit-opacity: 0;
  }
}
